/* .containerForm {
	margin-top: 80px;
	height: 100vh;
	
} */

.invisible {
	display: none;
}

.visible {
	display: block;
}


 /* .cardbodyre:hover{
    background: rgba(202, 113, 198, 0.20);
    color: rgb(110, 53, 136);
    transition: 250ms;
	
} 
.cardbodyre{
background: rgba(146, 56, 250, 0.3);
border-radius: 20px;
padding: 0.5rem 1rem;
color:white;
font-weight: bold;}

.registrotitle{
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */