.container-log-in{
        /* The image used */
        background-image: url('../../../images/log-in-pic.jpg');
      
        /* Full height */
        height: 100vh;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        align-items: center;
        justify-content: center;
      }

@media (min-width: 700px) {
        .card-log-in{
            width: 45%
        }
        }

@media (max-width: 700px) {
    .card-log-in{
        width: 65%
    }
    }