.card{
    margin-bottom: 2rem;
}
.card-body{
    padding: 2rem 1.5rem;
}

.overflow{
    overflow: hidden;
}

#image{
    transition: all 0.6s ease-in-out;
}

#image:hover {
    transform: scale(1.2);
}

#card-body{
    margin-top: 0.25rem;
}