#news-card-cointainer{ 
    margin-top: 100px;
}

#line{
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(68, 66, 66);
    width: 70%;
    margin: auto;
}

#news-card{
    margin-bottom: 2rem;
    min-height: 39vw;
    margin: 1rem;

}
#news-card-body{
    padding: 2rem 1.5rem;
}

#news-overflow{
    overflow: hidden;
    object-fit: contain;
    height: 18rem;
}

#news-image{
    transition: all 0.6s ease-in-out;
    height: 100%;
    
}

#news-image:hover {
    transform: scale(1.1);
}

#news-card-body{
    margin-top: 0rem;
}

#source{
    text-align: right;
}

#card-body-text{
    margin-top: 2rem;
}
#card-title-container{
    min-height: 8vw;
    display: flex;
    align-items: center;
}