#news-card-cointainer{ 
    margin-top: 100px;
    
}
#news-card{
    margin-bottom: 2rem;
    min-height: 35vw;
}
#news-card-body{
    padding: 2rem 1.5rem;
}

#news-overflow{
    overflow: hidden;
    object-fit: contain;
    height: 15vw;
}

#news-image{
    transition: all 0.6s ease-in-out;
    height: 100%;
    
}

#news-image:hover {
    transform: scale(1.2);
}

#news-card-body{
    margin-top: 0.25rem;
}

#source{
    text-align: right;
}
